
.container {
    width: 30rem;
    padding: 1.5rem 1rem;
}

body {
    background-color: #2d2d2d;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234c4747' fill-opacity='0.27'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: 10px;
}

.icon{
    font-size: 3rem;
    line-height: 0;
    text-align: center;
}

.logo {
    font-size: 2.6rem;
    font-weight: bold;
    color: #e5e5e6;
    text-align: center;
    font-family: Abril Fatface;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.input-container input {
    padding: 0.8rem 0.5rem;
    border: 1px solid #5C5C61;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    background-color: #5C5C61;
    color: #e5e5e6
}

.input-container input:focus-visible, .input-container input:focus {
    outline: none !important;
    border:none !important;
}
.input-container input:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 1px 1px #aaa;
}

.input-container input::placeholder {
    color: #aaa;
}

.input-container button, .download-container button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    background-color: #e5e5e6;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.download-container{
    display: flex;
    place-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 1.3rem;
}

.download-container button {
    width: 100%;
    /* background-color: #5C5C61 !important; */
    /* color: #E5E5E6 !important; */
}

.optimization-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.optimization-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #5C5C61;
    color: #E5E5E6;
    border-radius: 0.25rem;
    margin-top: 1rem;
    padding: 0.1rem 0.8rem;
    cursor: pointer;
}

.optimization-item .text-container {
    display: flex;
    flex-direction: column;

}

.optimization-item h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: -0.8rem;
    text-align: left;
}

.optimization-item .description, .optimization-item .details {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.share-button svg {
    height: 1.3rem;
    fill: #e5e5e6;
    width: auto;
    margin: auto;
}

.share-button {
    margin: 0.8rem 0;
    padding: 0.5rem;
    display: flex;
}

.share-button:hover {
    background-color: #e5e5e6;
    border-radius: 0.25rem;
    background-color: #2D2D2D;
}